footer {
    position: relative;
    padding: 5px 0;
    float: left;
    font-size: 10px;
    text-align: center;;
    width: 100%;
    color: white;
    text-shadow: 1px 1px #ff0000;
    background-color: black;
  }

  